<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta http-equiv="Content-Security-Policy" content=<%= process.env.CSP %>>

    <meta name="description" content="OpenMeet is a free platform for sharing events and creating communities. Let's get together more.">
    <meta property="og:image" content="/openmeet/icons/android-chrome-192x192.png">

    <meta property="og:title" content="OpenMeet Community Platform">
    <meta property="og:description" content="OpenMeet is a free platform for sharing events and creating communities. Let's get together more.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://platform.openmeet.net">

    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <!-- Font preloading to reduce CLS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/openmeet/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/openmeet/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/openmeet/icons/favicon-16x16.png">
    <link rel="manifest" href="/openmeet/icons/site.webmanifest">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
