.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
  font-weight: bold;
}

body {
  @extend .bg-primary-light-gray;
}

// Quasar Card
.q-card {
  border-radius: 10px;
}

// Quasar Button
.q-btn {
  font-weight: bold
}

// Rounded Borders
.rounded-borders {
  border-radius: 10px;
}

// Quasar Tab
.q-tab {
  font-weight: bold;
}

// Router Link Inherit
.router-link-inherit {
  color: inherit;
  text-decoration: none;
  text-decoration: underline;
  transition: color 0.3s ease, opacity 0.3s ease;
  position: relative;

  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }
}

// Quasar Button
.q-btn {
  &--rectangle {
    border-radius: 6px;
  }

  &--rounded {
    border-radius: 28px;
  }
}

// Quasar Input
.q-field--filled .q-field__control {
  border-radius: 6px;
}

// Quasar field
.q-field {


  &.q-field--outlined .q-field__control:not(.q-field--rounded) {
    border-radius: 6px;
  }
}
