@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Primary Colors (OpenMeet palette)
$logo-white: #FFFFFF;
$light-purple: #D2ACEE;
$medium-purple: #AF9EE8;
$dark-purple: #7B71DA;
$deep-navy: #1E1A43;

// Theme Colors
$primary: $dark-purple;
$secondary: $light-purple;
$accent: $medium-purple;

// Neutral Colors
$light-gray: #F2F2F2;
$medium-gray: #CCCCCC;
$dark-gray: #444444;
$darker-gray: #333333;

// Quasar Color Configuration
$primary: $dark-purple;
$secondary: $light-purple;
$accent: $medium-purple;

// Dark Mode Colors
$dark-page: $deep-navy;
$dark-block: $darker-gray;

// Status Colors
$positive: #4CAF50;
$negative: #F44336;
$info: #2196F3;
$warning: #FFC107;

.bg-dark-page {
  background-color: $dark-page;
}

// Text and Background Utilities
.text-light-gray {
  color: $light-gray;
}

.bg-light-gray {
  background-color: $light-gray;
}

.text-medium-gray {
  color: $medium-gray;
}

.bg-medium-gray {
  background-color: $medium-gray;
}

.text-dark-gray {
  color: $dark-gray;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

.text-darker-gray {
  color: $darker-gray;
}

.bg-darker-gray {
  background-color: $darker-gray;
}
